.luffy1 {
    width: 60px;
    height: 60px;
}
.luffy2 {
    width: 150px;
    height: 150px;
}
.luffy3 {
    width: 100px;
    height: 100px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}